* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
    background: #E7EBF1;
    font-family: "Montserrat";
    padding: 0px;
}

body a {
    text-decoration: none;
    color: #75859A;
    font-weight: 400;
}

body a:hover {
    color: #E71850;
    font-weight: 400;
}

.container {
    padding: 0 50px;
}

.red {
    color: #E71850;
}

.white {
    color: white;
}

#navBar {
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navMenu, #languigeMenu, #skillsIcons {
    display: flex;
}

#navBar ul li {
    font-size: 28px;
    list-style-type: none;
    margin:0 20px;
    list-style: none;
}

#logo {
    width: 50px;
    height: 50px;
}

#languigeMenu li a {
    font-size: 20px;
    display: block;
    text-align: center;
    text-decoration: none;
}

#languigeMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#midText {
    height: 95vh;
    position: relative;
    width: 100%;
    color: #75859A;
    font-weight: 300;
    font-size: 48px;
    justify-content: space-between;
}

#content {
    position: absolute;
    margin-top: 100px;
    padding: 20px;
    z-index: 10;
}

.imgs {
    position: absolute;
    right: 40px;
}

#imName {
    font-size: 80px;
    font-weight: 500;
}

#intruduceText {
    font-size: 24px;
    font-weight: 500;
}

#cvButton {
    font-family: "Montserrat";
    font-size: 28px;
    font-weight: 500;
    margin-top: 50px;
    color: white;
    background-color: #E71850;
    height: 50px;
    width: 250px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
}

#skillsIcons {
    fill: white;
    margin-top: 350px;
    list-style-type: none;
    width: 300px;
    justify-content: space-between;
}


#skillsIcons img {
    height: 40px;
    width: 40px;
}

#footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    height: 50px;
    background-color: #323A45;
}

#socialIcons {
    display: flex;
    align-items: end;
    list-style-type: none;
}

#socialIcons li {
   margin-left: 10px; 
}

#copyRight {
    display: flex;
    align-items: center;
}

#copyRight span {
    margin-left: 10px;
}

